{{- if .Values.microservicesDemo.enabled }}
{{- $packageFlux := default dict .Values.microservicesDemo.flux -}}
{{- $fluxSettings := merge $packageFlux .Values.flux -}}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: microservices-demo
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: microservices-demo
    app.kubernetes.io/component: "core"
    {{- include "commonLabels" . | nindent 4 }}
  annotations:
    checksum/dorkomen-values: {{ include (print $.Template.BasePath "/microservices-demo/values.yaml") . | sha256sum }}
spec:
  targetNamespace: microservices-demo
  releaseName: microservices-demo
  chart:
    spec:
      {{- if eq .Values.microservicesDemo.sourceType "git" }}
      chart: {{ .Values.microservicesDemo.git.path }}
      sourceRef:
        kind: GitRepository
        name: microservices-demo
        namespace: {{ .Release.Namespace }}
      {{- else }}
      chart: {{ .Values.microservicesDemo.helmRepo.chartName }}
      version: {{ .Values.microservicesDemo.helmRepo.tag }}
      sourceRef:
        kind: HelmRepository
        name: {{ .Values.microservicesDemo.helmRepo.repoName }}
        namespace: {{ .Release.Namespace }}
      {{- $repoType := include "getRepoType" (dict "repoName" .Values.microservicesDemo.helmRepo.repoName "allRepos" $.Values.helmRepositories) -}}
      {{- if (and .Values.microservicesDemo.helmRepo.cosignVerify (eq $repoType "oci")) }}
      verify:
        provider: cosign
        secretRef:
          name: {{ printf "%s-cosign-pub" .Values.microservicesDemo.helmRepo.repoName }}
      {{- end }}
      {{- end }}
      interval: 5m

  {{- toYaml $fluxSettings | nindent 2 }}

  {{- if or .Values.microservicesDemo.postRenderers .Values.microservicesDemo.apm.enabled }}
  postRenderers:
    {{- if .Values.microservicesDemo.apm.enabled }}
    {{- $instrName := .Values.microservicesDemo.apm.instrumentationName }}
    {{- $instrNamespace := .Values.microservicesDemo.apm.instrumentationNamespace }}
    {{- $instrValue := printf "%s/%s" $instrNamespace $instrName }}
    - kustomize:
        patches:
          # Java service: adservice
          - target:
              kind: Deployment
              name: adservice
            patch: |
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: adservice
              spec:
                template:
                  metadata:
                    annotations:
                      instrumentation.opentelemetry.io/inject-java: "{{ $instrValue }}"
          # Node.js services: currencyservice, paymentservice
          - target:
              kind: Deployment
              name: currencyservice
            patch: |
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: currencyservice
              spec:
                template:
                  metadata:
                    annotations:
                      instrumentation.opentelemetry.io/inject-nodejs: "{{ $instrValue }}"
          - target:
              kind: Deployment
              name: paymentservice
            patch: |
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: paymentservice
              spec:
                template:
                  metadata:
                    annotations:
                      instrumentation.opentelemetry.io/inject-nodejs: "{{ $instrValue }}"
          # Python services: emailservice, recommendationservice, loadgenerator
          - target:
              kind: Deployment
              name: emailservice
            patch: |
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: emailservice
              spec:
                template:
                  metadata:
                    annotations:
                      instrumentation.opentelemetry.io/inject-python: "{{ $instrValue }}"
          - target:
              kind: Deployment
              name: recommendationservice
            patch: |
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: recommendationservice
              spec:
                template:
                  metadata:
                    annotations:
                      instrumentation.opentelemetry.io/inject-python: "{{ $instrValue }}"
          - target:
              kind: Deployment
              name: loadgenerator
            patch: |
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: loadgenerator
              spec:
                template:
                  metadata:
                    annotations:
                      instrumentation.opentelemetry.io/inject-python: "{{ $instrValue }}"
          # .NET service: cartservice
          - target:
              kind: Deployment
              name: cartservice
            patch: |
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: cartservice
              spec:
                template:
                  metadata:
                    annotations:
                      instrumentation.opentelemetry.io/inject-dotnet: "{{ $instrValue }}"
          # Go services: frontend, checkoutservice, productcatalogservice, shippingservice
          - target:
              kind: Deployment
              name: frontend
            patch: |
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: frontend
              spec:
                template:
                  metadata:
                    annotations:
                      instrumentation.opentelemetry.io/inject-go: "{{ $instrValue }}"
          - target:
              kind: Deployment
              name: checkoutservice
            patch: |
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: checkoutservice
              spec:
                template:
                  metadata:
                    annotations:
                      instrumentation.opentelemetry.io/inject-go: "{{ $instrValue }}"
          - target:
              kind: Deployment
              name: productcatalogservice
            patch: |
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: productcatalogservice
              spec:
                template:
                  metadata:
                    annotations:
                      instrumentation.opentelemetry.io/inject-go: "{{ $instrValue }}"
          - target:
              kind: Deployment
              name: shippingservice
            patch: |
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: shippingservice
              spec:
                template:
                  metadata:
                    annotations:
                      instrumentation.opentelemetry.io/inject-go: "{{ $instrValue }}"
    {{- end }}
    {{- if .Values.microservicesDemo.postRenderers }}
    {{ toYaml .Values.microservicesDemo.postRenderers | nindent 4 }}
    {{- end }}
  {{- end }}

  valuesFrom:
    - name: {{ .Release.Name }}-microservices-demo-values
      kind: Secret
      valuesKey: "common"
    - name: {{ .Release.Name }}-microservices-demo-values
      kind: Secret
      valuesKey: "defaults"
    - name: {{ .Release.Name }}-microservices-demo-values
      kind: Secret
      valuesKey: "overlays"
{{- end }}
