{{- if .Values.traefik.enabled }}
apiVersion: v1
kind: Namespace
metadata:
  name: traefik
  labels:
    app.kubernetes.io/name: traefik
    app.kubernetes.io/component: "core"
    {{- include "commonLabels" . | nindent 4 }}
{{- end }}
