{{- if .Values.elasticStack.enabled }}
apiVersion: elasticsearch.k8s.elastic.co/v1
kind: Elasticsearch
metadata:
  name: {{ .Values.elasticStack.elasticsearch.name | default "elasticsearch" }}
  namespace: {{ .Values.elasticStack.namespace | default "elastic-stack" }}
  labels:
    app.kubernetes.io/name: elasticsearch
    app.kubernetes.io/component: "logging"
    {{- include "commonLabels" . | nindent 4 }}
spec:
  version: {{ .Values.elasticStack.version | default "8.15.0" }}
  {{- if .Values.elasticStack.elasticsearch.image }}
  image: {{ .Values.elasticStack.elasticsearch.image }}
  {{- end }}
  http:
    tls:
      selfSignedCertificate:
        disabled: {{ .Values.elasticStack.elasticsearch.disableTls | default false }}
  nodeSets:
    {{- if .Values.elasticStack.elasticsearch.nodeSets }}
    {{- toYaml .Values.elasticStack.elasticsearch.nodeSets | nindent 4 }}
    {{- else }}
    - name: default
      count: {{ .Values.elasticStack.elasticsearch.replicas | default 1 }}
      config:
        node.store.allow_mmap: false
        {{- if .Values.elasticStack.elasticsearch.config }}
        {{- toYaml .Values.elasticStack.elasticsearch.config | nindent 8 }}
        {{- end }}
      podTemplate:
        spec:
          {{- if .Values.elasticStack.elasticsearch.initContainers }}
          initContainers:
            {{- toYaml .Values.elasticStack.elasticsearch.initContainers | nindent 12 }}
          {{- end }}
          containers:
            - name: elasticsearch
              resources:
                {{- if .Values.elasticStack.elasticsearch.resources }}
                {{- toYaml .Values.elasticStack.elasticsearch.resources | nindent 16 }}
                {{- else }}
                limits:
                  memory: 2Gi
                  cpu: 1000m
                requests:
                  memory: 1Gi
                  cpu: 500m
                {{- end }}
              env:
                - name: ES_JAVA_OPTS
                  value: "{{ .Values.elasticStack.elasticsearch.javaOpts | default "-Xms512m -Xmx512m" }}"
          {{- if .Values.elasticStack.elasticsearch.nodeSelector }}
          nodeSelector:
            {{- toYaml .Values.elasticStack.elasticsearch.nodeSelector | nindent 12 }}
          {{- end }}
          {{- if .Values.elasticStack.elasticsearch.tolerations }}
          tolerations:
            {{- toYaml .Values.elasticStack.elasticsearch.tolerations | nindent 12 }}
          {{- end }}
      volumeClaimTemplates:
        - metadata:
            name: elasticsearch-data
          spec:
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: {{ .Values.elasticStack.elasticsearch.storage | default "10Gi" }}
            {{- if .Values.elasticStack.elasticsearch.storageClassName }}
            storageClassName: {{ .Values.elasticStack.elasticsearch.storageClassName }}
            {{- end }}
    {{- end }}
{{- end }}
