{{- if and .Values.elasticStack.enabled .Values.elasticStack.kibana.ingress.enabled (default true .Values.httpsRedirect) }}
{{- $namespace := .Values.elasticStack.namespace | default "elastic-stack" }}
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: redirect-to-https
  namespace: {{ $namespace }}
  labels:
    app.kubernetes.io/name: kibana
    app.kubernetes.io/component: "logging"
    {{- include "commonLabels" . | nindent 4 }}
spec:
  redirectScheme:
    scheme: https
    permanent: true
{{- end }}
