{{- if .Values.elasticStack.enabled }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: elastic-agent
  namespace: {{ .Values.elasticStack.namespace | default "elastic-stack" }}
  labels:
    app.kubernetes.io/name: elastic-agent
    app.kubernetes.io/component: "logging"
    {{- include "commonLabels" . | nindent 4 }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: elastic-agent
  labels:
    app.kubernetes.io/name: elastic-agent
    app.kubernetes.io/component: "logging"
    {{- include "commonLabels" . | nindent 4 }}
rules:
  - apiGroups: [""]
    resources:
      - pods
      - nodes
      - namespaces
      - events
      - services
      - configmaps
      - persistentvolumes
      - persistentvolumeclaims
      - secrets
      - replicationcontrollers
      - limitranges
      - resourcequotas
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources:
      - nodes/metrics
      - nodes/stats
      - nodes/proxy
    verbs: ["get"]
  - apiGroups: ["apps"]
    resources:
      - statefulsets
      - deployments
      - replicasets
      - daemonsets
    verbs: ["get", "list", "watch"]
  - apiGroups: ["batch"]
    resources:
      - jobs
      - cronjobs
    verbs: ["get", "list", "watch"]
  - apiGroups: ["coordination.k8s.io"]
    resources:
      - leases
    verbs: ["get", "create", "update"]
  - apiGroups: ["storage.k8s.io"]
    resources:
      - storageclasses
    verbs: ["get", "list", "watch"]
  - apiGroups: ["networking.k8s.io"]
    resources:
      - networkpolicies
      - ingresses
    verbs: ["get", "list", "watch"]
  - apiGroups: ["policy"]
    resources:
      - podsecuritypolicies
      - poddisruptionbudgets
    verbs: ["get", "list", "watch"]
  - apiGroups: ["autoscaling"]
    resources:
      - horizontalpodautoscalers
    verbs: ["get", "list", "watch"]
  - nonResourceURLs:
      - "/metrics"
      - "/healthz"
      - "/healthz/*"
      - "/stats"
      - "/stats/*"
    verbs: ["get"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: elastic-agent
  labels:
    app.kubernetes.io/name: elastic-agent
    app.kubernetes.io/component: "logging"
    {{- include "commonLabels" . | nindent 4 }}
subjects:
  - kind: ServiceAccount
    name: elastic-agent
    namespace: {{ .Values.elasticStack.namespace | default "elastic-stack" }}
roleRef:
  kind: ClusterRole
  name: elastic-agent
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: elastic-agent
  namespace: {{ .Values.elasticStack.namespace | default "elastic-stack" }}
  labels:
    app.kubernetes.io/name: elastic-agent
    app.kubernetes.io/component: "logging"
    {{- include "commonLabels" . | nindent 4 }}
subjects:
  - kind: ServiceAccount
    name: elastic-agent
    namespace: {{ .Values.elasticStack.namespace | default "elastic-stack" }}
roleRef:
  kind: ClusterRole
  name: elastic-agent
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: elastic-agent-kubeadm-config
  namespace: kube-system
  labels:
    app.kubernetes.io/name: elastic-agent
    app.kubernetes.io/component: "logging"
    {{- include "commonLabels" . | nindent 4 }}
subjects:
  - kind: ServiceAccount
    name: elastic-agent
    namespace: {{ .Values.elasticStack.namespace | default "elastic-stack" }}
roleRef:
  kind: Role
  name: elastic-agent-kubeadm-config
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: elastic-agent-kubeadm-config
  namespace: kube-system
  labels:
    app.kubernetes.io/name: elastic-agent
    app.kubernetes.io/component: "logging"
    {{- include "commonLabels" . | nindent 4 }}
rules:
  - apiGroups: [""]
    resources:
      - configmaps
    resourceNames:
      - kubeadm-config
    verbs: ["get"]
{{- end }}
