{{/*
Global git credentials secret
Used when packages don't have their own git credentials defined
*/}}
{{- if and .Values.git.credentials (not .Values.git.existingSecret) }}
{{- if coalesce .Values.git.credentials.username .Values.git.credentials.password .Values.git.credentials.caFile .Values.git.credentials.privateKey .Values.git.credentials.publicKey .Values.git.credentials.knownHosts "" }}
{{- $http := coalesce .Values.git.credentials.username .Values.git.credentials.password .Values.git.credentials.caFile "" }}
{{- $ssh := coalesce .Values.git.credentials.privateKey .Values.git.credentials.publicKey .Values.git.credentials.knownHosts "" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-git-credentials
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "commonLabels" . | nindent 4 }}
type: Opaque
data:
  {{- if $http }}
  {{- if .Values.git.credentials.caFile }}
  caFile: {{ .Values.git.credentials.caFile | b64enc }}
  {{- end }}
  {{- if and .Values.git.credentials.username (not .Values.git.credentials.password) }}
  {{- fail "When using http git username, password must be specified" }}
  {{- end }}
  {{- if and .Values.git.credentials.password (not .Values.git.credentials.username) }}
  {{- fail "When using http git password, username must be specified" }}
  {{- end }}
  {{- if and .Values.git.credentials.username .Values.git.credentials.password }}
  username: {{ .Values.git.credentials.username | b64enc }}
  password: {{ .Values.git.credentials.password | b64enc }}
  {{- end }}
  {{- else }}
  {{- if not (and (and .Values.git.credentials.privateKey .Values.git.credentials.publicKey) .Values.git.credentials.knownHosts) }}
  {{- fail "When using ssh git credentials, privateKey, publicKey, and knownHosts must all be specified" }}
  {{- end }}
  identity: {{ .Values.git.credentials.privateKey | b64enc }}
  identity.pub: {{ .Values.git.credentials.publicKey | b64enc }}
  known_hosts: {{ .Values.git.credentials.knownHosts | b64enc }}
  {{- end }}
{{- end }}
{{- end }}
