{{- if .Values.k6Operator.enabled }}
{{- include "values-secret" (dict "root" $ "package" .Values.k6Operator "name" "k6-operator" "defaults" (include "dorkomen.defaults.k6-operator" .)) }}
{{- end }}

{{- define "dorkomen.defaults.k6-operator" -}}
# k6 Operator default values

# Operator configuration
namespace:
  create: false

manager:
  image:
    repository: ghcr.io/grafana/k6-operator
    pullPolicy: {{ .Values.imagePullPolicy }}
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 50m
      memory: 64Mi

{{- if (include "imagePullSecret" .) }}
imagePullSecrets:
  - name: private-registry
{{- end }}

# RBAC
authProxy:
  enabled: false

{{- end -}}
