{{- if .Values.metallb.enabled }}
apiVersion: v1
kind: Namespace
metadata:
  name: metallb-system
  labels:
    app.kubernetes.io/name: metallb
    app.kubernetes.io/component: "core"
    {{- include "commonLabels" . | nindent 4 }}
{{- end }}
