{{- if and .Values.n8n.enabled (default true .Values.httpsRedirect) }}
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: redirect-to-https
  namespace: n8n
  labels:
    app.kubernetes.io/name: n8n
    {{- include "commonLabels" . | nindent 4 }}
spec:
  redirectScheme:
    scheme: https
    permanent: true
{{- end }}
